# Assignment: Exploratory Data Analysis
### `! git clone https://github.com/ds4e/EDA`
### Do Q1 and two other questions.

**Q1.** In class, we talked about how to compute the sample mean of a variable $X$,
$$
m(X) = \dfrac{1}{N} \sum_{i=1}^N x_i
$$
and sample covariance of two variables $X$ and $Y$,
$$
\text{cov}(X,Y) = \dfrac{1}{N} \sum_{i=1}^N (x_i - m(X))(y_i - m(Y))).
$$
Recall, the sample variance of $X$ is
$$
s^2 = \dfrac{1}{N} \sum_{i=1}^N (x_i - m(X))^2.
$$
It can be very helpful to understand some basic properties of these statistics.

1. Show that $m(a + bX) = a+b \times m(X)$.
2. Show that the covariance of a variable with itself is equal to the sample variance: $\text{cov}(X,X) = s^2$.
3. Show that $\text{cov}(X,a+bY) = b \times \text{cov}(X,Y)$.
4. Show that  $\text{cov}(a+bX,a+bX) = b^2 s^2$.
5. The transformation $Z = bX$ is called an **linear** transformation, and in that case, $m(bX) = b\times m(X)$ and $\text{cov}(X,bY) = b \times \text{cov}(X,Y)$. If we used another kind of transformation of $Y$ -- say, $g(Y) = Y^2$ or $g(Y) = \sqrt{Y}$ -- is it generally true that $m( g(X)) = g(m(X))$ and $ \text{cov}(X,g(Y) ) = g( \text{cov}(X,Y)) $? 
6. Use your answer in part 5 to explain clearly why 
    - The mean of a transformed variable is not the transformation of the mean. 
    - Sample covariance is a useful concept, but can only capture information about linear relationships between variables, not non-linear ones.
7. Instead of the mean, consider the median. Consider transformations that are non-decreasing (also called order-preserving), like $2+5 \times X$ or $\text{arcsinh}(X)$. Is a non-decreasing transformation of the median the median of the transformed variable? Explain. Does your answer apply to any quantile? The IQR? The range?

**Q2.** This question looks at financial transfers from foreign entities to American universities.

**Q3.** This question uses the Airbnb data to practice making visualizations.

  1. Load the `./data/airbnb_hw.csv` data with Pandas. You should have cleaned the `Price` variable in question 2, and you'll need it later for this question.
  2. What are are the dimensions of the data? How many observations are there? What are the variables included? Use `.head()` to examine the first few rows of data.
  3. Cross tabulate `Room Type` and `Property Type`. What patterns do you see in what kinds of rentals are available? For which kinds of properties are private rooms more common than renting the entire property?
  4. For `Price`, make a histogram, kernel density, box plot, and a statistical description of the variable. Are the data badly scaled? Are there many outliers? Use `log` to transform price into a new variable, `price_log`, and take these steps again.
  5. Make a scatterplot of `price_log` and `Beds`. Describe what you see. Use `.groupby()` to compute a desciption of `Price` conditional on/grouped by the number of beds. Describe any patterns you see in the average price and standard deviation in prices.
  6. Make a scatterplot of `price_log` and `Beds`, but color the graph by `Room Type` and `Property Type`. What patterns do you see? Compute a description of `Price` conditional on `Room Type` and `Property Type`. Which Room Type and Property Type have the highest prices on average? Which have the highest standard deviation? Does the mean or median appear to be a more reliable estimate of central tendency, and explain why?
  7. We've looked a bit at this `price_log` and `Beds` scatterplot. Use seaborn to make a `jointplot` with `kind=hex`. Where are the data actually distributed? How does it affect the way you think about the plots in 5 and 6?

**Q4.** This question provides some practice doing exploratory data analysis and visualization.

The "relevant" variables for this question are:
  - `level` - Level of institution (4-year, 2-year)
  - `aid_value` - The average amount of student aid going to undergraduate recipients
  - `control` - Public, Private not-for-profit, Private for-profit
  - `grad_100_value` - percentage of first-time, full-time, degree-seeking undergraduates who complete a degree or certificate program within 100 percent of expected time (bachelor's-seeking group at 4-year institutions)

1. Load the `./data/college_completion.csv` data with Pandas.
2. What are are the dimensions of the data? How many observations are there? What are the variables included? Use `.head()` to examine the first few rows of data.
3. Cross tabulate `control` and `level`. Describe the patterns you see.
4. For `grad_100_value`, create a histogram, kernel density plot, boxplot, and statistical description.
5. For `grad_100_value`, create a grouped kernel density plot by `control` and by `level`. Describe what you see. Use `groupby` and `.describe` to make grouped calculations of statistical descriptions of `grad_100_value` by `level` and `control`. Which institutions appear to have the best graduation rates?
6. Create a new variable, `df['levelXcontrol']=df['level']+', '+df['control']` that interacts level and control. Make a grouped kernel density plot. Which institutions appear to have the best graduation rates?
7. Make a kernel density plot of `aid_value`. Now group your graph by `level` and `control`. What explains the shape of the graph? Use `groupby` and `.describe` to make grouped calculations of statistical descriptions of `aid_value` by `level` and `control`.
8. Make a scatterplot of `grad_100_value` by `aid_value`. Describe what you see. Now make the same plot, grouping by `level` and then `control`. Describe what you see. For which kinds of institutions does aid seem to increase graduation rates?
9. Compute the covariance of `grad_100_value` and `aid_value` for the entire sample, then do it for each `level`. Describe your findings.

**Q5.** This question looks at a time series of the number of active oil drilling rigs in the United States over time. The data comes from the Energy Information Agency.

1. Load `drilling_rigs.csv` and examine the data. How many observations? How many variables? Are numeric variables correctly read in by Pandas, or will some variables have to be typecast/coerced?
2. Let's look at total drilling. Rename 
FIRST DIFFERENCE
MELT FIRST TWO COLUMNS

In [9]:
import numpy as np 
import pandas as pd 


df = pd.read_csv('./data/drilling_rigs.csv')

print(df.shape)
print(df.columns)

df.head()

(623, 10)
Index(['Month',
       'Crude Oil and Natural Gas Rotary Rigs in Operation, Onshore (Number of Rigs)',
       'Crude Oil and Natural Gas Rotary Rigs in Operation, Offshore (Number of Rigs)',
       'Crude Oil Rotary Rigs in Operation, Total (Number of Rigs)',
       'Natural Gas Rotary Rigs in Operation, Total (Number of Rigs)',
       'Crude Oil and Natural Gas Rotary Rigs in Operation, Horizontal Trajectory (Number of Rigs)',
       'Crude Oil and Natural Gas Rotary Rigs in Operation, Directional Trajectory (Number of Rigs)',
       'Crude Oil and Natural Gas Rotary Rigs in Operation, Vertical Trajectory (Number of Rigs)',
       'Crude Oil and Natural Gas Rotary Rigs in Operation, Total (Number of Rigs)',
       'Active Well Service Rig Count (Number of Rigs)'],
      dtype='object')

,Month,"Crude Oil and Natural Gas Rotary Rigs in Operation, Onshore (Number of Rigs)","Crude Oil and Natural Gas Rotary Rigs in Operation, Offshore (Number of Rigs)","Crude Oil Rotary Rigs in Operation, Total (Number of Rigs)","Natural Gas Rotary Rigs in Operation, Total (Number of Rigs)","Crude Oil and Natural Gas Rotary Rigs in Operation, Horizontal Trajectory (Number of Rigs)","Crude Oil and Natural Gas Rotary Rigs in Operation, Directional Trajectory (Number of Rigs)","Crude Oil and Natural Gas Rotary Rigs in Operation, Vertical Trajectory (Number of Rigs)","Crude Oil and Natural Gas Rotary Rigs in Operation, Total (Number of Rigs)",Active Well Service Rig Count (Number of Rigs)
0,1973 January,1120,99,Not Available,Not Available,Not Available,Not Available,Not Available,1219,1549
1,1973 February,1037,89,Not Available,Not Available,Not Available,Not Available,Not Available,1126,1677
2,1973 March,959,90,Not Available,Not Available,Not Available,Not Available,Not Available,1049,1805
3,1973 April,914,79,Not Available,Not Available,Not Available,Not Available,Not Available,993,1898
4,1973 May,974,72,Not Available,Not Available,Not Available,Not Available,Not Available,1046,1991

In [13]:
df['total'] = df['Active Well Service Rig Count (Number of Rigs)']
df['total'].unique()

array(['1549', '1677', '1805', '1898', '1991', '1994', '1997', '2112',
       '2227', '2247', '2266', '2334', '2401', '2436', '2470', '2513',
       '2555', '2525', '2494', '2483', '2473', '2488', '2503', '2543',
       '2582', '2549', '2568', '2374', '2426', '2344', '2369', '2459',
       '2434', '2505', '2675', '2612', '2490', '2521', '2597', '2575',
       '2607', '2606', '2656', '2652', '2639', '2601', '2660', '2474',
       '2628', '2695', '2804', '2760', '2895', '2929', '2942', '2964',
       '2973', '2968', '2898', '2810', '2906', '2899', '2997', '2996',
       '2987', '3006', '3089', '3073', '3078', '2958', '3063', '3094',
       '2698', '2765', '3034', '3369', '3506', '3572', '3621', '3673',
       '3954', '3795', '3709', '3855', '3923', '4010', '3871', '4032',
       '4112', '4092', '4155', '4277', '4290', '4281', '4172', '4209',
       '4359', '4238', '4430', '4749', '5093', '5172', '5196', '5150',
       '5142', '5165', '5279', '5367', '5220', '4808', '4334', '4328',
       '4041', '3845', '3761', '3726', '3762', '3933', '3865', '3786',
       '3629', '3537', '3413', '3340', '3323', '3431', '3868', '3927',
       '4025', '4262', '4255', '4240', '4337', '3989', '3859', '4224',
       '4864', '5100', '5061', '5157', '5053', '5075', '4953', '4919',
       '4856', '4626', '4538', '4655', '4673', '4616', '4845', '4807',
       '4729', '4745', '4582', '4649', '4498', '3450', '2733', '2644',
       '2598', '2477', '2468', '2744', '2759', '2669', '2558', '2762',
       '2745', '2833', '3389', '3439', '3610', '3687', '3664', '3375',
       '3485', '3416', '3230', '3541', '3425', '3542', '3344', '3137',
       '3090', '3036', '3081', '3277', '3417', '3458', '3319', '3367',
       '3379', '3495', '3645', '3690', '3565', '3486', '3611', '3411',
       '3403', '3522', '3605', '3905', '3988', '3984', '3994', '3579',
       '3512', '3444', '3394', '3363', '3257', '3208', '3138', '3110',
       '3183', '2912', '2704', '2592', '2727', '2564', '2492', '2630',
       '2825', '3076', '2977', '3218', '2829', '2703', '2848', '3087',
       '3178', '3423', '3341', '3519', '3604', '3662', '3386', '2649',
       '2798', '2785', '2992', '2941', '3010', '2991', '2855', '2877',
       '2862', '2806', '3020', '3107', '3133', '3103', '3225', '3105',
       '3157', '3239', '3290', '3509', '3253', '3331', '3345', '3473',
       '3723', '3582', '3560', '3498', '3489', '3287', '3237', '3364',
       '3189', '3398', '3483', '3575', '3766', '3705', '3667', '3546',
       '3622', '3433', '3476', '3378', '3283', '3268', '3396', '3079',
       '3147', '2788', '2602', '2539', '2244', '1932', '1904', '2054',
       '2096', '2133', '2391', '2388', '2445', '2472', '2500', '2550',
       '2705', '2734', '2702', '2619', '2694', '2717', '2722', '2719',
       '2732', '2738', '2726', '2755', '2730', '2728', '2770', '1784',
       '1865', '1832', '1824', '1774', '1654', '1683', '1843', '1791',
       '1852', '1856', '1891', '1861', '1878', '1817', '1821', '1928',
       '1950', '1954', '1927', '1957', '2016', '2026', '1966', '2064',
       '1973', '1946', '2019', '2043', '2047', '2050', '2095', '2067',
       '2068', '2106', '2078', '2111', '2024', '2063', '2091', '2144',
       '2143', '2216', '2242', '2238', '2276', '2268', '2315', '2237',
       '2285', '2339', '2342', '2340', '2398', '2382', '2404', '2380',
       '2440', '2366', '2351', '2307', '2375', '2387', '2381', '2358',
       '2408', '2418', '2395', '2420', '2476', '2455', '2457', '2498',
       '2546', '2554', '2567', '2611', '2591', '2469', '2152', '1947',
       '1825', '1718', '1646', '1648', '1629', '1653', '1579', '1613',
       '1625', '1706', '1726', '1754', '1816', '1818', '1857', '1900',
       '1918', '1965', '1971', '1968', '2004', '1990', '2044', '2052',
       '2069', '2116', '2136', '2115', '2100', '2131', '2154', '2135',
       '2157', '2153', '2139', '2140', '2130', '2077', '2102', '2036',
       '2033', '2039', '2099', '2049', '2055', '2061', '2175', '2066',
       '2037', '2028', '2040', '2010', '2007', '1925', '1826', '1659',
       '1566', '1512', '1460', '1481', '1485', '1456', '1399', '1345',
       '1303', '1283', '1170', '1058', '1023', '1000', '989', '1009',
       '1053', '967', '1117', '1102', '1111', '1131', '1099', '1125',
       '1159', '1176', '1219', '1235', '1215', '1192', '1212', '1207',
       '1222', '1187', '1183', '1232', '1246', '1276', '1293', '1321',
       '1326', '1338', '1347', '1334', '1319', '1294', '1295', '1299',
       '1292', '1316', '1297', '1272', '1221', '1173', '1149', '1108',
       '1086', '1046', '802', '456', '490', '549', '617', '674', '741',
       '788', '800', '811', '835', '838', '923', '936', '950', '960',
       '973', '993', '991', '1006', '995', '982', '1035', 'Not Available'],
      dtype=object)

**Q6.** FINANCIAL TIME SERIES DATA, LOOK AT COVARIANCES